In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in csv file for food

df = pd.read_csv('../data/Nutrition-Summary-2019-05-01-to-2019-06-15_numberic_only.csv')

In [4]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 775 non-null    object
 1   Meal                 277 non-null    object
 2   Calories             206 non-null    object
 3   Fat (g)              166 non-null    float64
 4   Saturated Fat        166 non-null    float64
 5   Polyunsaturated Fat  166 non-null    float64
 6   Monounsaturated Fat  166 non-null    float64
 7   Trans Fat            166 non-null    float64
 8   Cholesterol          166 non-null    float64
 9   Sodium (mg)          166 non-null    float64
 10  Potassium            166 non-null    float64
 11  Carbohydrates (g)    166 non-null    float64
 12  Fiber                166 non-null    float64
 13  Sugar                166 non-null    float64
 14  Protein (g)          166 non-null    float64
 15  Vitamin A            166 non-null    float64
 16  Vitamin C            166 non-null    float64
 17  Calcium              166 non-null    float64
 18  Iron                 166 non-null    float64
 19  Note                 75 non-null     object
 20  Unnamed: 20          5 non-null      object
dtypes: float64(16), object(5)
memory usage: 155.8+ KB

In [65]:
df2 = df[df['Fiber'].notna()]


#Cast Calories to a float
#  https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

pd.to_numeric(df2.loc[:,'Calories'])
print(df2.describe())
print()
df2.info()

          Calories     Fat (g)  Saturated Fat  Polyunsaturated Fat  \
count   166.000000  166.000000     166.000000           166.000000
mean    329.607229   13.074096       4.934337             0.874096
std     232.300016   12.077291       5.930933             1.898961
min       0.000000    0.000000       0.000000             0.000000
25%     172.700000    4.375000       1.000000             0.000000
50%     274.150000   10.200000       3.200000             0.000000
75%     437.975000   17.500000       6.275000             1.000000
max    1410.000000   74.000000      43.300000            15.000000

       Monounsaturated Fat   Trans Fat  Cholesterol  Sodium (mg)    Potassium  \
count           166.000000  166.000000   166.000000   166.000000   166.000000
mean              1.558434    0.092169    54.393373   513.700602   237.056627
std               4.162286    0.939696    80.635926   687.045964   584.230819
min               0.000000    0.000000     0.000000     0.000000     0.000000
25%               0.000000    0.000000     8.575000   113.250000     0.000000
50%               0.000000    0.000000    25.750000   333.750000   145.000000
75%               1.000000    0.000000    59.025000   712.975000   281.900000
max              33.000000   12.000000   494.400000  6951.000000  7169.200000

       Carbohydrates (g)       Fiber       Sugar  Protein (g)   Vitamin A  \
count         166.000000  166.000000  166.000000   166.000000  166.000000
mean           28.066265    5.474096   11.300602    25.853614   50.756627
std            28.503640    6.396390   13.175577    14.625907   98.674960
min             0.000000    0.000000    0.000000     0.000000    0.000000
25%             9.025000    1.000000    2.850000    14.000000    0.000000
50%            21.000000    3.000000    7.000000    25.650000   10.000000
75%            37.200000    8.000000   15.000000    37.700000   58.600000
max           188.000000   30.000000   92.300000    63.100000  858.400000

         Vitamin C     Calcium        Iron
count   166.000000  166.000000  166.000000
mean     59.938554   37.207831   13.988554
std     131.751358   70.503215   30.669217
min       0.000000    0.000000    0.000000
25%       0.000000    4.900000    2.000000
50%       4.000000   16.550000    6.950000
75%      57.600000   41.375000   15.175000
max    1182.000000  581.200000  315.700000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 0 to 948
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 166 non-null    object
 1   Meal                 166 non-null    object
 2   Calories             166 non-null    float64
 3   Fat (g)              166 non-null    float64
 4   Saturated Fat        166 non-null    float64
 5   Polyunsaturated Fat  166 non-null    float64
 6   Monounsaturated Fat  166 non-null    float64
 7   Trans Fat            166 non-null    float64
 8   Cholesterol          166 non-null    float64
 9   Sodium (mg)          166 non-null    float64
 10  Potassium            166 non-null    float64
 11  Carbohydrates (g)    166 non-null    float64
 12  Fiber                166 non-null    float64
 13  Sugar                166 non-null    float64
 14  Protein (g)          166 non-null    float64
 15  Vitamin A            166 non-null    float64
 16  Vitamin C            166 non-null    float64
 17  Calcium              166 non-null    float64
 18  Iron                 166 non-null    float64
 19  Note                 75 non-null     object
 20  Unnamed: 20          5 non-null      object
dtypes: float64(17), object(4)
memory usage: 28.5+ KB

In [76]:
df2.groupby('Date').sum()[['Calories','Protein (g)']]

           Calories  Protein (g)
Date
5/1/2019     1807.4        155.8
5/10/2019    1320.0         95.0
5/13/2019    1060.0        141.4
5/14/2019    1386.7        139.0
5/15/2019    1650.2        132.3
5/16/2019    1241.4        133.4
5/17/2019    1387.8        136.2
5/18/2019    2488.8        114.1
5/2/2019     1533.9        156.2
5/20/2019    1328.9        136.9
5/21/2019    1614.1        165.1
5/22/2019    2795.1        142.3
5/23/2019    1241.9        136.2
5/24/2019    1212.3         86.2
5/27/2019    1542.5        108.6
5/28/2019    1549.6        130.0
5/29/2019    1431.1        117.0
5/30/2019    1478.8         79.2
5/31/2019    1592.8        120.0
5/6/2019     2067.5        174.8
5/7/2019     1490.1        141.5
5/8/2019     1809.2        142.9
5/9/2019     1817.0        142.9
6/1/2019     1966.1        106.3
6/10/2019    1298.5        123.7
6/11/2019    1527.6        104.2
6/12/2019     797.7         80.2
6/13/2019    1613.2        122.8
6/14/2019     235.0         21.0
6/2/2019     1132.0         71.5
6/3/2019     1430.0         95.0
6/4/2019     1738.8        116.0
6/5/2019     1753.9        134.9
6/6/2019     1940.5        126.5
6/8/2019      677.0         29.1
6/9/2019     1757.4        133.5

In [80]:
df2.groupby('Date').sum()[['Calories','Protein (g)']].std()

Calories       458.869435
Protein (g)     33.307169
dtype: float64

In [77]:
df2.groupby('Date').sum()[['Calories','Protein (g)']].mean()

Calories       1519.855556
Protein (g)     119.213889
dtype: float64

In [86]:
df3 = df2.groupby('Date').sum()
df3[df3['Calories'] > 1000][['Calories','Protein (g)']].mean()

Calories       1606.215152
Protein (g)     126.103030
dtype: float64